.fort-view-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .fort-view-title {
    color: orangered;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .fort-view img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .fort-view p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .fort-view-image{
    width: 100%;
    height: 300px;
  }